<form novalidate class="edit-form"
      *ngIf="this.activateForm"
      [formGroup]="formModelStudent"
      (ngSubmit)="onSubmitForm()"
>
  <p class="edit-form__header">{{titleForm}}
    <span class="span-successfully" *ngIf="successfully">Успешно!</span>
  </p>

  <div formGroupName="fullName">
    <div class="col-w40">
      <div class="form__group field">
        <input type="input"
               class="form__field"
               placeholder="Фамилия"
               id="lastName"
               formControlName="lastName"
               autofocus
        />
        <label for="lastName" class="form__label">Фамилия</label>
      </div>
      <div *ngIf="_fullName.invalid && (_fullName.touched || _fullName.dirty)">
      <span class="error-block"
            *ngIf="isControlInvalid('fullName')">Фамилия, имя, отчесво не должны совпадать</span>
      </div>
    </div>
    <div class="col-w30">
      <div class="form__group field">
        <input type="input"
               class="form__field"
               placeholder="Имя"
               id="firstName"
               formControlName="firstName"/>
        <label for="firstName" class="form__label">Имя</label>
      </div>
      <div *ngIf="_fullName.invalid && (_fullName.touched || _fullName.dirty)">
      <span class="error-block"
            *ngIf="isControlInvalid('fullName')">Фамилия, имя, отчесво не должны совпадать</span>
      </div>
    </div>
    <div class="col-w30">
      <div class="form__group field">
        <input type="input"
               class="form__field"
               placeholder="Отчество"
               id='patronymic'
               formControlName="patronymic"/>
        <label for="patronymic" class="form__label">Отчество</label>
      </div>
      <div *ngIf="_fullName.invalid && (_fullName.touched || _fullName.dirty)">
      <span class="error-block"
            *ngIf="isControlInvalid('fullName')">Фамилия, имя, отчесво не должны совпадать</span>
      </div>
    </div>
  </div>

  <div class="col-w30 padding0">
    <div class="form__group field">
      <input type="date"
             class="form__field"
             placeholder="Дата рождения"
             id="DOB"
             formControlName="DOB"
      />
      <label for="DOB" class="form__label">Дата рождения</label>
    </div>
    <div *ngIf="_DOB.invalid && (_DOB.touched || _DOB.dirty)">
      <p class="error-block" *ngIf="_DOB.errors?.required">Обязательное поле</p>
      <p class="error-block" *ngIf="isControlInvalid('DOB')">
        Неверный формат (возраст менее 10 лет)
      </p>
    </div>
  </div>
  <div class="col-w30">
    <div class="form__group field">
      <input type="number"
             class="form__field"
             placeholder="Средний балл"
             id="GPA"
             formControlName="GPA"
      />
      <label for="GPA" class="form__label">Средний балл</label>
    </div>
    <div *ngIf="_GPA.invalid && (_GPA.touched || _GPA.dirty)">
      <p class="error-block" *ngIf=" _GPA.errors?.required">Обязательное поле</p>
      <p class="error-block" *ngIf="isControlInvalid('GPA')">
        Неверный формат (допустимый диапозон цифр от 2 до 5)
      </p>
    </div>
  </div>
  <div class="col-w40 p-l-20">
    <div class="multiple-buttons">
      <button class="button-gray form-button"
              type="submit" [disabled]="formModelStudent.invalid">{{titleButton}}
      </button>
    </div>
  </div>
</form>

<div class="edit-form"
*ngIf="!this.editingAccess">
  <p class="edit-form__header">
    Редактированиие данной записи ЗАПРЕЩЕНО!
  </p>
</div>
