<h1 *ngIf="this.warningLog">Нет элементов удовлетворяющих условиям поиска.</h1>
<table class="table-user">
  <tr *ngFor="let student of students" [ngClass]="{
  'table-user__tr-color-dullPink': student.GPA < 3 && needRed
  }"
  [class.table-user__tr-color-lightGreen]="(search.indexOf(student.lastName) != -1) ||
  (search.indexOf(student.firstName) != -1) ||
  (search.indexOf(student.patronymic) != -1)">
    <!--    <td class="table-user__td-number"></td>-->
    <td class="table-user__td-FIO">
      <span class="table-user__td__span-lastName">{{student.lastName}}</span>
      <span class="table-user__td__span-firstName-patronymic">{{student.firstName}}</span>
      <span class="table-user__td__span-firstName-patronymic">{{student.patronymic}}</span>
    </td>
    <td class="table-user__td-DOB">{{student.DOB}}</td>
    <td class="table-user__td-GPA" [ngClass]="{
    'color-green': student.GPA >= 4,
    'color-orange': student.GPA >= 3 && student.GPA < 4,
    'color-red': student.GPA < 3
    }">{{student.GPA}}</td>
    <td class="table-user__td-remove" (click)="onDeletion(student)">
      <span class="material-icons md-24 highlight_off">highlight_off</span>
      Удалить
    </td>
  </tr>
</table>
