<div class="error404 active">
  <div class="error404__overlay">
    <div class="error404__content">
        <div class="col-w50">
          <p class="error404__content-text">404. Страница</p>
          <p class="error404__content-text"> не найдена</p>
          <p class="error404__content-text__span">Страница, которую вы ищете, не найдена.</p>
          <a class="error404__content_a" routerLink="">Перейти на главную</a>
        </div>
        <div class="col-w50">
          <img class="error404__gif" src="../../assets/404_Massage.gif">
        </div>
    </div>
  </div>
</div>
