<aside class="main-container__left">
  <div class="main-container__left-inner">
    <div class="aside__title">Список студентов</div>
    <form novalidate (ngSubmit)="addFilterOption(Form)" #Form="ngForm">
      <div class="filters-list">
        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Поиск</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-search">
              <input class="controls__input__input" placeholder="Поиск по ФИО" ngModel name="search">
              <span class="material-icons md-dark md-24" style="position: relative; top: 8px">search</span>
            </div>
          </div>
        </div>

        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Дата рождения</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-small" style="margin-right: 2%">
              <input type=date class="controls__input__input" ngModel name="dateFrom">
            </div>
            <div class="controls__input-small" style="margin-left: 2%">
              <input type=date class="controls__input__input" ngModel name="dateTo">
            </div>
          </div>
        </div>

        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Средний балл</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-small" style="margin-right: 2%">
              <input class="controls__input__input" placeholder="от 2.00" #propName="ngModel" ngModel name="GPAFrom"
                     maxlength="1" pattern="^[2-5]">
            </div>
            <div class="controls__input-small" style="margin-left: 2%">
              <input class="controls__input__input" placeholder="до 5.00" #propName2="ngModel" ngModel name="GPATo"
                     maxlength="1" pattern="^[2-5]">
            </div>
            <span class="error-block" *ngIf="!propName.valid || !propName2.valid">Допустимый диапозон цифр от 2 до 5</span>
          </div>
        </div>
        <div class="multiple-buttons">
          <button class="button-gray" type="submit" [disabled]="!Form.valid" [ngClass]="{'disabled': !Form.valid}">Применить</button>
        </div>
        <div class="multiple-buttons">
          <button class="button-gray" type="reset" (click)="resetTable()">Сбросить</button>
        </div>
      </div>
    </form>
  </div>
</aside>
