<aside class="main-container__left">
  <div class="main-container__left-inner">
    <div class="aside__title">Список 25 студентов</div>
    <div class="filters-list">
      <div class="filters-list__controls">
        <a class="filters-list__controls__title" href="#">
          <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
          <span class="filters-list__controls__title-text">Поиск</span>
        </a>
        <div class="filters-list__controls__content">
          <div class="controls__input-search">
            <input class="controls__input__input" placeholder="Поиск по ФИО">
            <span class="material-icons md-dark md-24" style="position: relative; top: 8px">search</span>
          </div>
        </div>
      </div>

      <div class="filters-list__controls">
        <a class="filters-list__controls__title" href="#">
          <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
          <span class="filters-list__controls__title-text">Дата рождения</span>
        </a>
        <div class="filters-list__controls__content">
          <div class="controls__input-small" style="margin-right: 2%">
            <!--            <span>От</span>-->
            <input type=date class="controls__input__input">
          </div>
          <div class="controls__input-small" style="margin-left: 2%">
            <!--            <span>От</span>-->
            <input type=date class="controls__input__input">
          </div>
        </div>
      </div>

      <div class="filters-list__controls">
        <a class="filters-list__controls__title" href="#">
          <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
          <span class="filters-list__controls__title-text">Средний балл</span>
        </a>
        <div class="filters-list__controls__content">
          <div class="controls__input-small" style="margin-right: 2%">
            <!--            <span>От</span>-->
            <input class="controls__input__input" placeholder="от 2.00">
          </div>
          <div class="controls__input-small" style="margin-left: 2%">
            <!--            <span>От</span>-->
            <input class="controls__input__input" placeholder="до 5.00">
          </div>
          <div class="controls__checkbox-group">
            <div class="checkbox">
              <input class="custom-checkbox" type="checkbox" id="option2-3" name="option2-3">
              <label for="option2-3">менее 3-х</label>
            </div>
            <div class="checkbox">
              <input class="custom-checkbox" type="checkbox" id="option3-4" name="option3-4">
              <label for="option3-4">3 - 4</label>
            </div>
            <div class="checkbox">
              <input class="custom-checkbox" type="checkbox" id="option4-5" name="option4-5">
              <label for="option4-5">4 и более</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
