<aside class="main-container__left">
  <div class="main-container__left-inner">
    <div class="aside__title">Список студентов</div>
    <form novalidate (ngSubmit)="addFilterOption(Form)" #Form="ngForm">
      <div class="filters-list">
        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Поиск</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-search">
              <input class="controls__input__input" placeholder="Поиск по ФИО" ngModel name="search">
              <span class="material-icons md-dark md-24" style="position: relative; top: 8px">search</span>
            </div>
          </div>
        </div>

        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Дата рождения</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-small" style="margin-right: 2%">
              <!--            <span>От</span>-->
              <input type=date class="controls__input__input" ngModel name="dateFrom">
            </div>
            <div class="controls__input-small" style="margin-left: 2%">
              <!--            <span>От</span>-->
              <input type=date class="controls__input__input" ngModel name="dateTo">
            </div>
          </div>
        </div>

        <div class="filters-list__controls">
          <a class="filters-list__controls__title" href="#">
            <span class="material-icons md-dark md-24" style="position: relative; top: 5px">expand_less</span>
            <span class="filters-list__controls__title-text">Средний балл</span>
          </a>
          <div class="filters-list__controls__content">
            <div class="controls__input-small" style="margin-right: 2%">
              <!--            <span>От</span>-->
              <input class="controls__input__input" placeholder="от 2.00" ngModel name="GPAFrom">
            </div>
            <div class="controls__input-small" style="margin-left: 2%">
              <!--            <span>От</span>-->
              <input class="controls__input__input" placeholder="до 5.00" ngModel name="GPATo">
            </div>
<!--            <div class="controls__checkbox-group">-->
<!--              <div class="checkbox">-->
<!--                <input class="custom-checkbox" type="checkbox" id="option2-3" name="option2-3">-->
<!--                <label for="option2-3">менее 3-х</label>-->
<!--              </div>-->
<!--              <div class="checkbox">-->
<!--                <input class="custom-checkbox" type="checkbox" id="option3-4" name="option3-4">-->
<!--                <label for="option3-4">3 - 4</label>-->
<!--              </div>-->
<!--              <div class="checkbox">-->
<!--                <input class="custom-checkbox" type="checkbox" id="option4-5" name="option4-5">-->
<!--                <label for="option4-5">4 и более</label>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div class="multiple-buttons">
          <button class="button-gray" type="submit">Применить</button>
        </div>
        <div class="multiple-buttons">
          <button class="button-gray" type="reset" (click)="resetTable()">Сбросить</button>
        </div>
      </div>
    </form>
  </div>
</aside>
